<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>次日流失用户情况</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'statistic/statistic.css' %}"/>

	{% load filters %}
</head>
<body>
<h1>次日流失用户情况</h1>
<h3>首次使用时间:{{date}}</h3>
<header>
	{{ ratio }}
</header>
<table>
	<tr>
		<th>IMEI (共{{ ratio.total }}人)</th>
		<th>无成功添加的邮箱({{ ratio.all_fail_count }}, {% widthratio ratio.all_fail_count ratio.total 100 %}%)</th>
		<th>emails</th>
	</tr>
	{% for user, fail in lost.items %}
	<tr>
		<td >{{ user }}</a></td>
		<td {%if fail %} class="cell_survival" {%endif%}>{{ fail }}</td>
		<td>
			{{user_emails|get_dict:user}}

		</td>
	</tr>
	{% endfor %}
</table>

</body>
</html>