<!DOCTYPE html>
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% load staticfiles %}

<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>活跃用户分析</title>
	<link rel="stylesheet" type="text/css" href="{% static 'statistic/statistic.css' %}"/>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>

	<script type="text/javascript" language="javascript">
        $(document).ready(function () {

            $('#lost_user').click(function () {
				var start_date_input = $('#date_survival');

				 $('#lost_user_form > [name="date"]').val(start_date_input.val());

				 $('#lost_user_form').submit;
            });
        });
    </script>

</head>
<body>


<h1>活跃用户分析</h1>

<section style="display:flex; flex-direction:row;margin:10px 10px;justify-content:space-between;">
	<section>
		时区: {{ TIME_ZONE }}
		<form id="date_form" action="{% url 'survival' %}" method="post" style="display:flex;flex-direction:column;">
			{% csrf_token %}
			<label for="date_survival">
				首次活跃:
				<input type="date" value={{ date }} name="date" id="date_survival" }>
			</label>

			<input type="submit" value="查看">
		</form>
	</section>

	<form id="lost_user_form" action="{% url 'lost_next' %}" method="post" style="display:flex;flex-direction:column;">
		{% csrf_token %}
		<input type="date" name="date" hidden>
		<button id="lost_user" style="font-size:1em;margin-left:1em;">查看次日流失用户的邮箱配置情况</button>
	</form>
</section>

<table>
	<tr>
		<th>IMEI ({{ survival_count.0 }}, 100%)</th>
		<th>1天后 ({{ survival_count.1 }}, {% widthratio survival_count.1 survival_count.0 100 %}%)</th>
		<th>1周后 ({{ survival_count.2 }}, {% widthratio survival_count.2 survival_count.0 100 %}%)</th>
		<th>1月后 ({{ survival_count.3 }}, {% widthratio survival_count.3 survival_count.0 100 %}%)</th>
		<th>1年后 ({{ survival_count.4 }}, {% widthratio survival_count.4 survival_count.0 100 %}%)</th>
		<th>最近一周 ({{ survival_count.5 }}, {% widthratio survival_count.5 survival_count.0 100 %}%)</th>
	</tr>
	{% for user_survival in survivals %}
	<tr>
		<td >{{ user_survival.imei }}</td>
		<td {%if user_survival.survival_day %} class="cell_survival" {%endif%}>{{ user_survival.survival_day }}</td>
		<td {%if user_survival.survival_week %} class="cell_survival" {%endif%}>{{ user_survival.survival_week }}</td>
		<td {%if user_survival.survival_month %} class="cell_survival" {%endif%}>{{ user_survival.survival_month }}</td>
		<td {%if user_survival.survival_year %} class="cell_survival" {%endif%} >{{ user_survival.survival_year }}</td>
		<td {%if user_survival.survival_last_week %} class="cell_survival" {%endif%}>{{ user_survival.survival_last_week }}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>