<!DOCTYPE html>
{% load tz %}
{% get_current_timezone as TIME_ZONE %}

{% load staticfiles %}

<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>活跃用户分析</title>
	<link rel="stylesheet" type="text/css" href="{% static 'statistic/statistic.css' %}"/>
</head>
<body>


<h1>活跃用户分析</h1>

时区: {{ TIME_ZONE }}
<form action="{% url 'survival' %}" method="post">
	{% csrf_token %}
	<label for="date">首次活跃: </label>
	<input type="date" value={{ date }} name="date" }>

	<input type="submit" value="查看">
</form>

<table>
	<tr>
		<th>IMEI</th>
		<th>1天后</th>
		<th>1周后</th>
		<th>1月后</th>
		<th>1年后</th>
		<th>最近一周</th>
	</tr>
	{% for user_survival in survivals %}
	<tr>
		<td>{{ user_survival.imei }}</td>
		<td>{{ user_survival.survival_day }}</td>
		<td>{{ user_survival.survival_week }}</td>
		<td>{{ user_survival.survival_month }}</td>
		<td>{{ user_survival.survival_year }}</td>
		<td>{{ user_survival.survival_last_week }}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>